body {
    background-color: black;
    color: white;
}

input {
    width: 100%;
    opacity: 0;
}

#visual-selected {
    color: #ffff00;
    text-decoration: underline;
}

#lines-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 15vh;
    letter-spacing: 30pt;
    font-weight: bolder;
    text-align: center;
}

.fruit-line {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #ffe597;
    font-size: 15pt;
}